:root {
    --text-color: #000;
    --background-color: #fff;
}

.dark-mode {
    --text-color: #fff;
    --background-color: #121212;
}
.passwordGenerator{
    margin-top: 20px;
}

.password-title, .subtitle, label {
    color: var(--text-color);
    text-align: center;
}

.subtitle {
    margin-bottom: 20px;
    font-size: 14px;
    color: gray;
}

.password-display {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.password-display input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid var(--text-color);
    background: var(--background-color);
    color: var(--text-color);
    border-radius: 5px;
    text-align: center;
}

.copy-btn {
    background: var(--text-color);
    color: var(--background-color);
    border: none;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.controls {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}

.controls label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

input[type="range"] {
    width: 100%;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.options label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.generate-btn {
    padding: 12px;
    background: var(--text-color);
    color: var(--background-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}
